{% extends 'base.html' %}

{% block content %}

<div class = "col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>Los Angeles Parking Finder</h1>
<p>Click on the map and hit Submit to see nearest parking spots.</p> 

<div class = "container">

	<!-- the map -->
	<div class="row" >
		<div class="col-md-6" id="map" style="width: 500px; height: 500px;">
		</div>
	</div>

	<br />
	<div class="row">

		<button type="button" class="btn btn-primary col-sm-4" id="submitbutton" onclick="get_nearest_spots()">Submit</button>
		<p></p>


	</div>

	<br />


</div>


<script>

	var map = L.map('map').setView([34.083223409290206, -118.31554603019772], 17);
	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);
	
	var theMarker = {};

	map.on('click', (event) => {

		let lat = event.latlng.lat
		let lng = event.latlng.lng
	
	    console.log("You clicked the map at LAT: "+ lat+" and LONG: "+lng );


        if (theMarker != undefined) {
              map.removeLayer(theMarker);
        };

	    //Add a marker to show where you clicked.
	     theMarker = L.marker([lat,lng]).addTo(map);  

	})

    function get_nearest_spots() {
    	console.log("clicked! ")

    	lat = theMarker._latlng.lat
    	lng = theMarker._latlng.lng
    	fetch(`/get-nearest-station?latitude=${lat}&longitude=${lng}`).then(response => response.json()).then(result => {

    		result.forEach(item => {
    			console.log(item[0])
    			console.log(item[1])
    			var itemMarker = L.marker([ item[0],item[1] ]).addTo(map)
    			itemMarker.bindPopup(item[3] + ". " + item[2] + " km away. <a href='https://www.google.com/maps/search/?api=1&query=" + item[0] + "," + item[1] + "'>Open in Maps</a> ").openPopup(); // pwede html sa loob, so maybe a href google link then distance ?

    		})
    	})
    }



</script>

{% else %}

<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}
	<form>
	  <div class="mb-3">
	    <input type="text" class="form-control" name="username" placeholder="User Name" required>
	  </div>
	  <div class="mb-3">
	    <input type="password" class="form-control" name="password" placeholder="Password" required>
	  </div>
	  <button type="submit" class="btn btn-primary">Login</button>
	</form>
</form>

</div>

{% endif %}

{% endblock %}
