{% extends 'base.html' %}

{% block content %}

<div class = "col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>Los Angeles Parking Finder</h1>

<div class = "container">

	<!-- submit button -->


	<!-- the map -->
	<div class="row" >
		<div class="col-md-6" id="map" style="width: 500px; height: 500px;">
		</div>
	</div>

	<br />
	<div class="row col-sm-4">
		<button type="button" class="btn btn-primary">Submit</button>
	</div>
	<br />

	<div class="row">
		<p>words</p>
	</div>

</div>


<script>
	var map = L.map('map').setView([34.083223409290206, -118.31554603019772], 17);
	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

</script>

{% else %}

<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}
	<form>
	  <div class="mb-3">
	    <input type="text" class="form-control" name="username" placeholder="User Name" required>
	  </div>
	  <div class="mb-3">
	    <input type="password" class="form-control" name="password" placeholder="Password" required>
	  </div>
	  <button type="submit" class="btn btn-primary">Login</button>
	</form>
</form>

</div>

{% endif %}

{% endblock %}
